/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.chatbot-icon {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: block;
  z-index: 123456789;
}

.chat-icon {
  width: 4rem;
  height: 4rem;
}

.chat-icon svg {
  width: 4rem;
  height: 4rem;
}

.chat-icon svg:hover path {
  fill: #FF5C00;
}

.chatbot-iframe {
  width: 431px;
  max-width: 431px;
  height: 0px;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background: #ffffff;
  border-radius: 18px;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
}

.chatbot-container {
  max-height: 629px;
}

.chatbot-header {
  position: relative;
  width: 416px;
  height: 278px;
  left: 0px;
  background: linear-gradient(123.75deg, #F5821F 1.87%, #FF5C00 120.46%);
  padding: 0rem 0.8125rem 0rem 0.8125rem;
  color: #ffffff;
  font-family: 'DM Sans', sans-serif;
  opacity: 0;
  -webkit-transition: 0.8s ease-in;
  transition: 0.8s ease-in;
}

.chatbot-body {
  position: relative;
  background: #ffffff;
  font-family: 'DM Sans', sans-serif;
  color: #000;
  margin: 0.8125rem;
  height: 400px;
  width: 390px;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  top: -75px;
  padding: 0 25px 0 25px;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  opacity: 0;
  opacity: 0;
  -webkit-transition: 0.8s ease-in;
  transition: 0.8s ease-in;
}

.chatbot-header-inner {
  padding: 1.25rem 3.5rem 1.25rem 3.5rem;
  opacity: 0;
  -webkit-transition: 0.8s ease-in;
  transition: 0.8s ease-in;
}

.chatbot-header_title {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.875rem;
  line-height: 2.441rem;
  font-weight: 700;
  margin-bottom: 7px;
}

.chabot-header_subline {
  font-size: 1.375rem;
  line-height: 1.79rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.chatbot-header_hello_wave svg {
  width: 25px;
  height: 25px;
  margin-left: 20px;
}

.chatbot-header_subtext {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 1.438rem;
  font-weight: 500;
  margin-bottom: 49px;
}

.chatbot-bot2 {
  position: relative;
  top: -2.3rem;
  left: -1.9rem;
  -webkit-transition: 0.4 ease-out;
  transition: 0.4 ease-out;
  z-index: 999999;
}

.chatbot-bot {
  position: relative;
  top: -3.2rem;
  opacity: 0;
  -webkit-transition: 0.5 ease-in;
  transition: 0.5 ease-in;
}

.chatbot-body_faq-line {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chatbot-body_faq-line p {
  font-size: 0.875rem;
  line-height: 1.139rem;
  font-weight: 700;
}

.chatbot-body_faq-line svg {
  margin-left: 7px;
  padding-top: 6px;
}

.chatbot-body_questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
  margin-top: 11px;
}

#chatbot-question1 {
  opacity: 0;
  -webkit-transition: 0.8s ease-in;
  transition: 0.8s ease-in;
}

#chatbot-question2 {
  opacity: 0;
  -webkit-transition: 0.8s ease-in;
  transition: 0.8s ease-in;
}

#chatbot-question3 {
  opacity: 0;
  -webkit-transition: 0.8s ease-in;
  transition: 0.8s ease-in;
}

#chatbot-question4 {
  opacity: 0;
  -webkit-transition: 0.8s ease-in;
  transition: 0.8s ease-in;
}

.chatbot-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.75rem;
  line-height: 1.313rem;
  height: 50px;
  border: 1px solid #E1E1E1;
  border-radius: 8px;
  padding: 15px 5px 15px 5px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
}

.chatbot-question span {
  margin-top: 5px;
}

.chatbot-question a {
  color: #2D2D2D;
  text-decoration: none;
}

.chatbot-question svg {
  margin-right: 7px;
}

.chatbot-main-question {
  width: 268px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 29px;
  margin-inline: auto;
  opacity: 0;
  -webkit-transition: 0.8s ease-in;
  transition: 0.8s ease-in;
}

.chatbot-main-question a {
  color: #2D2D2D;
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1.139rem;
  font-weight: 500;
  margin-left: 12px;
}

@-webkit-keyframes slideup {
  from {
    height: 0px;
  }
  to {
    height: 629px;
  }
}

@keyframes slideup {
  from {
    height: 0px;
  }
  to {
    height: 629px;
  }
}

@-webkit-keyframes slidedown {
  from {
    height: 629px;
  }
  to {
    height: 0px;
  }
}

@keyframes slidedown {
  from {
    height: 629px;
  }
  to {
    height: 0px;
  }
}

.fadeup {
  -webkit-animation: slideup 0.5s ease-in;
          animation: slideup 0.5s ease-in;
}

.fadeout {
  -webkit-animation: slidedown 1s ease-out;
          animation: slidedown 1s ease-out;
}

@media all and (max-width: 500px) {
  .chatbot-iframe {
    width: 416px;
    height: 0px;
    position: relative;
    bottom: 1rem;
    right: 1rem;
    left: 0rem;
    background: #ffffff;
    border-radius: 18px;
    -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
  }
}
/*# sourceMappingURL=styles.css.map */